.pagination {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  li {
    cursor: pointer;
    list-style: none;
    
    a {
      padding:  2px 6px;
    }
  }
}

.selected {
  background-color: #0064EB;
  color: #eee;
  border-radius: 3px;
}

.disabled {
  color: #808080;
}

a .selected {
  color: #eee;
}
