/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/User/Description/Description.scss ***!
  \*************************************************************************************************************************************************************************************/
.description {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.description .photo {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
.description .name-link {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.description p {
  font-size: 26px;
  font-weight: 600;
  color: #000;
}
.description a {
  text-decoration: none;
  color: #0064EB;
}
.description .followers-following {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.description .followers-following .followers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.description .followers-following .followers .icon {
  display: flex;
  width: 22.08px;
  height: 14px;
}
.description .followers-following .followers span {
  font-size: 16px;
  color: #000;
}
.description .followers-following .following {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.description .followers-following .following .icon {
  display: flex;
  width: 16.06px;
  height: 16px;
}
.description .followers-following .following span {
  font-size: 16px;
  color: #000;
}
/*!*******************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/User/NotFound/NotFound.scss ***!
  \*******************************************************************************************************************************************************************************/
.user-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46.92px;
  width: 210px;
  margin: 245px auto 0 auto;
}
.user-not-found .user-icon {
  width: 64.17px;
  height: 64.17px;
}
.user-not-found .repos-icon {
  width: 76px;
  height: 62px;
}
.user-not-found p {
  font-size: 22px;
  text-align: center;
  line-height: 140%;
}

.repos-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46.92px;
  width: 210px;
  margin: 182px auto 0 auto;
}
.repos-not-found .repos-icon {
  width: 76px;
  height: 62px;
}
/*!************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/User/Repositories/Pagination/Pagination.scss ***!
  \************************************************************************************************************************************************************************************************/
.pagination {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.pagination li {
  cursor: pointer;
  list-style: none;
}
.pagination li a {
  padding: 2px 6px;
}

.selected {
  background-color: #0064EB;
  color: #eee;
  border-radius: 3px;
}

.disabled {
  color: #808080;
}

a .selected {
  color: #eee;
}
/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/User/Repositories/Items/Items.scss ***!
  \**************************************************************************************************************************************************************************************/
.number-items {
  width: 111px;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
/*!***************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/User/Repositories/Repositories.scss ***!
  \***************************************************************************************************************************************************************************************/
h2 {
  font-weight: 600;
}

.repositories {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.repositories .repository a {
  text-decoration: none;
  color: #0064EB;
}
.repositories .repositories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.repositories .pages-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

.repository {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 877px;
  padding: 24px 32px 24px 32px;
  background-color: #fff;
}

.blink {
  padding: 50px;
  font-size: 24px;
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  100% {
    color: rgba(39, 37, 37, 0);
  }
}
/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/User/User.scss ***!
  \******************************************************************************************************************************************************************/
.user-info {
  display: flex;
  flex-direction: row;
  gap: 85px;
  padding: 39px 56px 77px 57px;
}
/*!**********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Search/Search.scss ***!
  \**********************************************************************************************************************************************************************/
.search-wrapper {
  display: flex;
  flex-direction: row;
  gap: 22.02px;
  padding: 16px 0 16px 41px;
}
.search-wrapper .logo {
  width: 41.02px;
  height: 40px;
  transform: scale(1);
  transition: 0.5s;
}
.search-wrapper .logo:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s;
}
.search-wrapper .search {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  padding: 8px 0 8px 19px;
  width: 500px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 6px;
}
.search-wrapper .search .search-icon {
  width: 14px;
  height: 14px;
}
.search-wrapper .search input {
  border: none;
  width: 256px;
  color: #808080;
}
.search-wrapper .search input:focus {
  outline: none;
}
/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/User/StartSearch/StartSearch.scss ***!
  \*************************************************************************************************************************************************************************************/
.start-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46.92px;
  width: 210px;
  margin: 245px auto 0 auto;
}
.start-search .icon {
  width: 64.17px;
  height: 64.17px;
}
.start-search p {
  font-size: 22px;
  text-align: center;
  line-height: 140%;
}
/*!************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Spinner/Spinner.scss ***!
  \************************************************************************************************************************************************************************/
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #0064EB;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
  margin: 200px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*!****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/App/App.scss ***!
  \****************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #808080;
  margin: 0;
  background-color: #E5E5E5;
}
body header {
  width: 100%;
  background-color: #0064EB;
}

/*# sourceMappingURL=main.6603e380f3b16adc70ea.css.map*/