.user-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46.92px;
  
    width: 210px;
    margin: 245px auto 0 auto;
  
    .user-icon {
      width: 64.17px;
      height: 64.17px;
      background: url('../../assets/png/not_found_user_icon.png') no-repeat;
    }

    p {
      font-size: 22px;
      text-align: center;
      line-height: 140%;
    }
}

.repos-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46.92px;
  
  width: 210px;
  margin: 182px auto 0 auto;

  .repos-icon {
    width: 76px;
    height: 62px;
    background: url('../../assets/png/not_found_repos_icon.png') no-repeat;
  }
}

//Adaptive

@media (max-width: 320px) {
  .repos-not-found {
    gap: 15px;
    padding-top: 75px;
    margin: 0 auto;
  }

  .user-not-found {
    margin: 0 auto;
    padding-top: 200px;
  }
}
