.description {
  display: flex;
  flex-direction: column;
  gap: 27px;

    .photo {
      width: 280px;
      height: 280px;
      border-radius: 50%;
      background-size: contain;
    }

    .name-link {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    p {
      font-size: 26px;
      font-weight: 600;
      color: #000;
    }

    a {
      text-decoration: none;
      color: #0064EB;
    }

    .followers-following {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .followers {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .icon {
          display: flex;
          width: 22.08px;
          height: 14px;
        }

        span {
          font-size: 16px;
          color: #000;
        }

        .followers-icon- {
          display: flex;
          width: 22.08px;
          height: 14px;
          background-image: url("../../../assets/png/followers_icon.png");
        }
      }

      .following {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

          .following-icon {
            display: flex;
            width: 16.06px;
            height: 16px;
            background: url("../../../assets/png/following_icon.png") no-repeat;
          }

          span {
            font-size: 16px;
            color: #000;
          }
      }
  }
}

//Adaptive 

@media(min-width: 320px) and (max-width: 479px) {
  .description {
    gap: 10px;
    align-items: center;

    .photo {
      width: 150px;
      height: 150px;
    }

    .name-link {
      align-items: center;

      p {
        font-size: 18px;
      }
    }
  }
}

@media(min-width: 480px) and (max-width: 639px) {
  .description {
    gap: 20px;
    align-items: center;

    .photo {
      width: 200px;
      height: 200px;
    }

    .name-link {
      align-items: center;

      p {
        font-size: 24px;
      }
    }
  }
}

@media(min-width: 640px) and (max-width: 999px) {
  .description {
    gap: 40px;
    align-items: center;
    flex-direction: row;

    .photo {
      width: 215px;
      height: 215px;
    }

    .name-link {
      align-items: center;

      p {
        font-size: 24px;
      }
    }

    .followers-following {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media(min-width: 1000px) and (max-width: 1365px) {
  .description {
    gap: 40px;
    align-items: center;
    flex-direction: column;

    .photo {
      width: 230px;
      height: 230px;
    }

    .name-link {
      align-items: center;

      p {
        font-size: 28px;
      }
    }

    .followers-following {
      flex-direction: row;
      align-items: center;
    }
  }
}