* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: #808080;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  gap: 22.02px;
  padding: 16px 0 16px 41px;
  width: 100%;
  background-color: #0064EB;

  .logo {
    width: 41.02px;
    height: 40px;
  }
}
