h2 {
  font-weight: 600;
}

.repositories {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 29px;

  .repository a {
    text-decoration: none;
    color: #0064EB;
  }

  .repositories-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .pages-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
  }
}

.repository {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 877px;

  padding: 24px 32px 24px 32px;
  background-color: #fff;
}


.blink {
  padding: 50px;
  font-size: 24px;
  animation: blink 0.5s linear infinite;
}
@keyframes blink {
  100% { color: rgba(39, 37, 37, 0); }
}