h2 {
  font-weight: 600;
}

.repositories {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 29px;
  width: 877px;

  .repository a {
    text-decoration: none;
    color: #0064EB;
  }

  .repositories-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;

    .number-page {
      width: 111px;
      height: 21px;
    
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }

    .pagination {
      font-family: 'Inter', sans-serif;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    
      li {
        cursor: pointer;
        list-style: none;
        
        a {
          padding:  2px 6px;
        }
      }
      .selected {
        background-color: #0064EB;
        color: #eee;
        border-radius: 3px;
      }
      
      .disabled {
        color: #808080;
      }
      
      a .selected {
        color: #eee;
      }
    }
  }
}

.repository {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 32px 24px 32px;
  background-color: #fff;
  
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.blink {
  padding: 50px;
  font-size: 24px;
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  100% { color: rgba(39, 37, 37, 0); }
}

//Adaptive

@media(min-width: 320px) and (max-width: 479px) {
  .repositories {
    width: 320px;
    gap: 15px;
    padding: 0 10px 0 10px;

    h2 {
      text-align: center;
      font-size: 18px;
    }

    .repositories-list {
      gap: 10px;

      .repository {
        gap: 5px;
        padding: 5px 10px 5px 10px;
      }
    }

    .pages {
      flex-direction: column-reverse;
      align-items: center;
      gap: 15px;

      .number-page {
        width: 50%;
        text-align: center;
      }

      .pagination {
        gap: 5px;
      }
    }
  }
}

@media(min-width: 480px) and (max-width: 639px) {
  .repositories {
    width: 450px;
    gap: 15px;
    padding: 0 10px 0 10px;

    h2 {
      text-align: center;
      font-size: 18px;
    }

    .repositories-list {
      gap: 10px;

      .repository {
        gap: 5px;
        padding: 5px 10px 5px 10px;
      }
    }

    .pages {
      flex-direction: column-reverse;
      align-items: center;
      gap: 15px;

      .number-page {
        width: 50%;
        text-align: center;
      }

      .pagination {
        gap: 5px;
      }
    }
  }
}

@media(min-width: 640px) and (max-width: 999px) {
  .repositories {
    width: 80%;
    gap: 15px;
    padding: 0 10px 0 10px;

    h2 {
      text-align: center;
      font-size: 20px;
    }

    .repositories-list {
      gap: 10px;

      .repository {
        gap: 5px;
        padding: 5px 10px 5px 10px;
      }
    }

    .pages {
      flex-direction: column-reverse;
      align-items: center;
      gap: 15px;

      .number-page {
        width: 50%;
        text-align: center;
      }

      .pagination {
        gap: 5px;
      }
    }
  }
}

@media(min-width: 1000px) and (max-width: 1365px) {
  .repositories {
    width: 70%;
    gap: 15px;
    padding: 0 10px 0 10px;

    h2 {
      text-align: center;
      font-size: 24px;
    }

    .repositories-list {
      gap: 10px;

      .repository {
        gap: 5px;
        padding: 20px 10px 15px 10px;
      }
    }

    .pages {
      flex-direction: column-reverse;
      align-items: center;
      gap: 15px;

      .number-page {
        width: 50%;
        text-align: center;
      }

      .pagination {
        gap: 5px;
      }
    }
  }
}