.base {
  display: flex;
  flex-direction: row;
  gap: 22.02px;
  padding: 16px 0 16px 41px;

    .logo {
      width: 41.02px;
      height: 40px;
      background-image: url('../../assets/png/github_icon.png');
      transform: scale(1);
      transition: 0.5s;
    }

    .logo:hover {
      cursor: pointer;
      transform: scale(0.9);
      transition: 0.5s;
    }

    .search {
      display: flex;
      flex-direction: row;
      gap: 11px;
      align-items: center;
      padding: 8px 0 8px 19px;

      width: 500px;
      height: 40px;
      background: #FFFFFF;
      border-radius: 6px;
      
        .search-icon {
          width: 14px;
          height: 14px;
          background-image: url('../../assets/png/search_input_icon.png');
        }

        input {
          border: none;
          width: 256px;
          color: #808080;
        }

        input:focus {
          outline: none;
        }
    }
}

//Adaptive

@media(min-width: 320px) and (max-width: 479px) {
  .base {
    padding: 16px 22px 16px 22px;
    .search {
      width: 200px;

      input {
        width: 150px;
      }
    }
  }
}

@media(min-width: 480px) and (max-width: 639px) {
  .base {
    justify-content: center;
    padding: 16px 22px 16px 22px;
    .search {
      width: 300px;

      input {
        width: 250px;
      }
    }
  }
}

@media(min-width: 640px) and (max-width: 999px) {
  .base {
    justify-content: center;
    padding: 16px 22px 16px 22px;
    .search {
      width: 300px;

      input {
        width: 250px;
      }
    }
  }
}

@media(min-width: 1000px) and (max-width: 1365px) {
  .base {
    justify-content: center;
    padding: 16px 22px 16px 22px;
    .search {
      width: 450px;

      input {
        width: 350px;
      }
    }
  }
}
