.search-wrapper {
  display: flex;
  flex-direction: row;
  gap: 22.02px;
  padding: 16px 0 16px 41px;

    .logo {
      width: 41.02px;
      height: 40px;
      transform: scale(1);
      transition: 0.5s;
    }

    .logo:hover {
      cursor: pointer;
      transform: scale(0.9);
      transition: 0.5s;
    }

    .search {
      display: flex;
      flex-direction: row;
      gap: 11px;
      align-items: center;
      padding: 8px 0 8px 19px;

      width: 500px;
      height: 40px;
      background: #FFFFFF;
      border-radius: 6px;
      
        .search-icon {
          width: 14px;
          height: 14px;
        }

        input {
          border: none;
          width: 256px;
          color: #808080;
        }

        input:focus {
          outline: none;
        }
    }
}