.start-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46.92px;

  width: 210px;
  margin: 245px auto 0 auto;

  .icon {
    width: 64.17px;
    height: 64.17px;
    background: url("../../assets/png/search_info_icon.png")  no-repeat;
  }

  p {
    font-size: 22px;
    text-align: center;
    line-height: 140%;
  }
}

//Adaptive

@media(min-width: 320px) and (max-width: 479px) {
  .start-search {
    margin: 25vh auto;
    align-items: center
  }
}

@media(min-width: 480px) and (max-width: 639px) {
  .start-search {
    margin: 25vh auto;
    align-items: center
  }
}

@media(min-width: 640px) and (max-width: 999px) {
  .start-search {
    margin: 25vh auto;
    align-items: center
  }
}

@media(min-width: 1000px) and (max-width: 1365px) {
  .start-search {
    margin: 25vh auto;
    align-items: center
  }
}
