.user-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46.92px;
  
    width: 210px;
    margin: 245px auto 0 auto;
  
    .user-icon {
      width: 64.17px;
      height: 64.17px;
    }

    .repos-icon {
      width: 76px;
      height: 62px;
    }
  
    p {
      font-size: 22px;
      text-align: center;
      line-height: 140%;
    }
}

.repos-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46.92px;
  
  width: 210px;
  margin: 182px auto 0 auto;

  .repos-icon {
    width: 76px;
    height: 62px;
  }
}
